* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #eee;
}

a {
    display: block;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    height: 60px;
    margin: 24px;
}

.interview {
    display: flex;
    margin: 70px;
    gap: 50px;
    position: relative;
    width: 900px;
}

.text {
    padding: 20px 0;
    display: flex;
    flex-direction: column;

}

.interview img {
    display: flex;
    justify-content: flex-end;
    width: 250px;
}

 button {
            font-size: 20px;
            padding: 5px;
            margin-top: 20px;
            border: none;
            background-color: #9e8639;
            cursor: pointer;
            box-shadow: 6px 8px 23px -8px rgba(0,0,0,0.75);
        }

.button:active {
    position: relative;
    top: 1px;
}

.recentpost {
    background-color: rgb(143, 117, 69);
    padding: 16px 70px 16px;
}

.subject {
    display: flex;
    justify-content: space-between;
}

.post {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.firstpost,
.secondpost {
    background-color: aliceblue;
    padding: 8px;
}

.date,
.category {
    display: flex;
}

.works {
    margin: 16px 70px;
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
}

.works img {
    width: 200px;
    margin-right: 16px;
}

.work {
    padding: 16px 0px;
    display: flex;
}

.yearabout {
    display: flex;
    gap: 20px;
}

.year {
    color: aliceblue;
    background-color: black;
    border-radius: 18px;
    padding: 0px 6px;
}

.about {
    color: gray;
}

footer {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer img {
    width: 30px;
}

.end {
    /* background-color: #fccb2b; */
    width: 300px;
    padding: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.end img {
    width: 20px;
    margin: 10px 13px;
}

.end p {
    font-size: 10px;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 30px;
    margin-top: 2rem;
}

.logo a {
    display: block;
    border: 2px white solid;
    padding: 2px 6px;
    border-radius: 50%;
}

icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50%;
}
@media (max-width:759px) {
    .main3 {
        width: 80%;
    }

    .main3>p {
        text-align: center;
    }

    .fwork {
        flex-flow: column nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 10px;
    }

    .picwork {
        width: 100%;
    }
}